{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center">
    <form action="{{ url_for(search_method) }}">
        <input name="search" type="text" class="form-control" placeholder="Search" value="" required />
        {%for db in available_dbs%}
            <div class="form-check">
              <input name="db" class="form-check-input" type="checkbox" class="form-control" value="{{db}}" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                {{ db }}
              </label>
            </div>
        {%endfor%}
        <button type="submit" class="btn btn-dark">Go!</button>
    </form>
</div>
{%if results%}
    {%for result in results%}
        <li>{{ result }}</li>
    {%endfor%}
{% else %}
<div class="alert alert-warning" role="alert">
  No results for the query with current configuration
</div>
{%endif%}
{% endblock %}